# .editorconfig

# Diese Datei legt verschiedene Formatierungs- und Stiloptionen für Ihren Code fest.
# Visual Studio Code und viele andere Editoren können diese Einstellungen automatisch erkennen und anwenden.

# Die Einstellungen gelten für alle Dateien im Projekt.
root = true
[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
max_line_length = off
[Makefile]
indent_style = tab
[*.go]
indent_style = tab
