/* Default styles for progress container */
.progress-container {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  
  /* Styles for progress container when viewport is smaller than 768px */
  @media (max-height: 767px) {
    .progress-container {
      bottom: 30px; /* Increase bottom position to make space for buttons */
      width: 100%; /* Reduce width to make space for buttons */
    }
  }
  
  /* Styles for progress container when viewport is smaller than 576px */
  @media (max-height: 575px) {
    .progress-container {
      bottom: 20px; /* Increase bottom position to make space for buttons */
      width: 100%; /* Reduce width to make space for buttons */
    }
  }
  
  
  .progress {
    position: relative;
    background-color: #ffffffe2;
    bottom: 0px;
    max-width: 220px;
    width: 100%;
    height: 20px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .progress-bar {
    background-color: #940370;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    transition: width 0.5s ease;
  }
  .progress-bar {
    animation: progress-bar-stripes 1s linear infinite;
  }
  
  @keyframes progress-bar-stripes {
    from {
      background-position: 1rem 0;
    }
    to {
      background-position: 0 0;
    }
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: #33343800;
  }
  #spinner-container.hidden {
    display: none;
  }
  
  .spinner-border {
    width: 4rem;
    height: 4rem;
    border-width: 0.25rem;
  }