#qrScannerModal .modal-content {
    background-color: #3233353b; /* Hintergrundfarbe ändern */
    color: #000; /* Textfarbe anpassen */
    border: 0;
    border-radius: 10px; /* Runde Ecken hinzufügen */
  }
  #cookieModal .modal-content {
    background-color: #ffffffa0; /* Hintergrundfarbe ändern */
    color: #000; /* Textfarbe anpassen */
    border: 1;
    border-radius: 10px; /* Runde Ecken hinzufügen */
  }
