<!--Header.ejs-->
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/src/css/prefers-color-mode.css">
  <link rel="stylesheet" href="/src/css/navbar-font-color.css">
  <link rel="manifest" href="/src/json/site.webmanifest">

  <!-- Custom CSS -->
  <!--link rel="stylesheet" href="css/custom.css" -->
</head>
<body>
  
<!-- Leave the body tag empty -->

</body>
</html>

  