<!--Header.ejs-->
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/src/css/prefers-color-mode.css">
  <link rel="manifest" href="/src/json/manifest.json">

  <!-- Custom CSS -->
  <!--link rel="stylesheet" href="css/custom.css" -->
</head>
<body>
  
<!-- Leave the body tag empty -->

</body>
</html>

  