<!--main.ejs-->
<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Statiskik</title>
  <meta charset="UTF-8">
  <script type="module" src="/src/js/main.js"></script>
</head>

<body class="bg-dark">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #18181c;">
    <div class="container-fluid">
      <a class="navbar-brand brand-link" href="#">PA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Statistik</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="parkplatz">Parkplatz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="parken">Parken</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Links
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Schlüsseltresor</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container-fluid"></div>
  <h1>Parkplatz Manager</h1>
  <div>
    <p>Beschreibung:</p>
    <p>Der Vehicle_data_controller ist Teil eines Back-Ends für eine Anwendung, die Fahrzeugdaten verarbeitet und speichert. Er beinhaltet eine Reihe von Funktionen, die für die Verarbeitung von Daten von verschiedenen Datenquellen (z.B. MongoDB, RabbitMQ) verantwortlich sind. Der Controller sorgt auch dafür, dass diese Daten für den Zugriff durch das Front-End verfügbar sind.</p>
    <p>Das Front-End der Anwendung kommuniziert über eine WebSocket-Verbindung mit dem Back-End, um Echtzeit-Updates über die Veränderungen der Fahrzeugdaten zu erhalten. Wenn ein neues Fahrzeug hinzugefügt wird, wird ein entsprechendes Signal über die WebSocket-Verbindung an das Front-End gesendet. Das Front-End lädt dann die Daten des neuen Fahrzeugs mithilfe der vom Vehicle_data_controller bereitgestellten Funktionen und aktualisiert die Benutzeroberfläche entsprechend.</p>
  </div>
  <script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="./node_modules/jquery/dist/jquery.min.js"></script>
</body>

</html>