<!--parken.ejs-->
<!DOCTYPE html>
<html lang="de" data-bs-theme="dark">

<head>
  <%- include('header') %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parken</title>
    <link rel="stylesheet" type="text/css" href="/src/css/toast.css">
    <link rel="stylesheet" type="text/css" href="/src/css/progressbar.css">
    <link rel="stylesheet" type="text/css" href="src/css/qrcodescanview.css">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js"></script>
    <script type="module" src="/src/js/positionandsave.js"></script>
    <script type="module" src="/src/js/licensePlateScanner.js"></script>
    <script type="module" src="/src/js/extractLicensePlate.js"></script>
    <script type="module" src="/src/js/progress.js"></script>
    <script type="module" src="/src/js/scanqrcodeandroid.js"></script>
    <script type="module" src="/src/js/scanqrcodehandler.js"></script>
    <script type="module" src="/src/js/scanqrcodeios.js"></script>
    <script type="module" src="/src/js/parken.js"></script>
</head>

<body class="bg-dark">

  <nav class="navbar navbar-expand bg-body-tertiary" style="background-color: #18181c;">
    <div class="container-fluid">
      <a class="navbar-brand brand-link" href="#">PA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="parkplatz">Parkplatz <i class="fa-solid fa-lock"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="parken">Parken</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Links
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Schlüsseltresor</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container text-center my-5 position-relative">
    <div class="d-grid gap-5 col-6 mx-auto">
      <button id="train_model_button" type="button" class="btn btn-outline-info btn-lg">
        <i class="fa-solid fa-camera"></i> deep learning <i class="fa-solid fa-graduation-cap"></i>
        <button id="scanQRCodeButtonCheck" type="button" class="btn btn-outline-danger btn-lg">
          <i class="fa-solid fa-qrcode"></i> Prüfer <i class="fa-solid fa-list-check"></i>
        </button>
      </button>
      <button id="scanQRCodeButtonMech" type="button" class="btn btn-outline-warning btn-lg">
        <i class="fa-solid fa-qrcode"></i> Werkstatt <i class="fa-solid fa-screwdriver-wrench"></i>
      </button>
      <button id="scanQRCodeButtonWash" type="button" class="btn btn-outline-success btn-lg">
        <i class="fa-solid fa-qrcode"></i> Abholbereit <i class="fa-solid fa-square-parking"></i>
      </button>
    </div>
    <div class="toast-container position-static">
      <!-- Success toast -->
      <div class="toast align-items-center text-white bg-success top-0 start-50 translate-middle-x" role="alert"
        aria-live="assertive" aria-atomic="true" style="z-index: 1;">
        <div class="d-flex">
          <div class="toast-body">
            <i class="bi bi-check-circle-fill me-2"></i>
            Position erfolgreich gespeichert.
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
        </div>
      </div>
      <!-- Error toast -->
      <div class="toast align-items-center text-white bg-danger top-0 start-50 translate-middle-x" role="alert"
        aria-live="assertive" aria-atomic="true" style="z-index: 1;">
        <div class="d-flex">
          <div class="toast-body">
            <i class="bi bi-exclamation-circle-fill me-2"></i>
            Ein Fehler ist aufgetreten. Bitte versuche es später erneut.
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
        </div>
      </div>
    </div>
    <div class="container d-flex justify-content-center align-items-center position-relative">
      <div id="qrCodeContainer">
        <canvas id="qrCodeCanvas"></canvas>
        <img id="qrCodeImage" src="/images/qrcode.jpg" style="display: none;">
      </div>
      <div class="modal fade" id="qrScannerModal" tabindex="-1" role="dialog" aria-labelledby="qrScannerModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="qrScannerModalLabel">scanning...</h5>
              </button>
            </div>
            <div class="modal-body">
            </div>
          </div>
        </div>
      </div>
      <div id="spinner-container" class="position-absolute bottom-0 start-50 translate-middle" style="z-index: 2;">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>

    <script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>

    <input id="qrCodeInput" type="file" accept="image/*;capture=environment" style="display:none;"
      onchange="processQRCode(this)">
    <input id="licensePlateInput" type="file" accept="image/*" capture="camera" style="display:none;">

    <script>
      // Wählen Sie das HTML-Element aus, das das Bild enthält

      const imageElement = document.getElementById('qrCodeImage');
      const scanQRCodeButton = document.getElementById('scanQRCodeButton');

// Fügen Sie einen Event-Listener hinzu, um auf Änderungen im Dateiauswahldialog zu reagieren
    </script>

</body>

</html>