<!--parken.ejs-->
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <%- include('header') %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parken</title>
    <link rel="stylesheet" type="text/css" href="/src/css/progressbar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tesseract.js/4.0.2/worker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tesseract.js/4.0.2/tesseract.min.js"></script>
    <script type="module" src="/src/js/positionandsave.js"></script>
    <script type="module" src="/src/js/licensePlateScanner.js"></script>
    <script type="module" src="/src/js/extractLicensePlate.js"></script>
    <script type="module" src="/src/js/progress.js"></script>
    <script type="module" src="/src/js/scanqrcodeandroid.js"></script>
    <script type="module" src="/src/js/scanqrcodehandler.js"></script>
    <script type="module" src="/src/js/scanqrcodeios.js"></script>
    <script type="module" src="/src/js/parken.js"></script>
  </head>
  <body class="bg-dark">
    
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #333438;">
            <div class="container-fluid">
              <a class="navbar-brand brand-link" href="#">cstrube.de</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Statistik</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="parkplatz">Parkplatz</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link active" href="parken">Parken</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Links
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Schlüsseltresor</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
          <div class="container text-center my-5">
            <div class="d-flex flex-column justify-content-between align-items-center h-100">
              <button id="positionButton" type="button" class="btn btn-outline-warning btn-lg flex-grow-1">Position</button>
              <button id="scanLicensePlateButton" type="button" class="btn btn-outline-info btn-lg flex-grow-1 my-5">Kennzeichen scannen</button>
              <button id="scanQRCodeButton" type="button" class="btn btn-outline-success btn-lg flex-grow-1">QR Code scannen</button>
            </div>
          </div>
          <div class="progress-container fixed-bottom" id="progress-container">
            <div class="progress">
              <div class="progress-bar" role="progressbar"></div>
            </div>
          </div>
          
          
          </div>
          
          <div class="container d-flex justify-content-center align-items-center">
            <div id="qrCodeContainer">
              <canvas id="qrCodeCanvas"></canvas>
              <img id="qrCodeImage" src="/images/qrcode.jpg" style="display: none;">
            </div>
          </div>
          <script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
          <script src="./node_modules/jquery/dist/jquery.min.js"></script>
        </body>
      </div>
      <input id="qrCodeInput" type="file" accept="image/*;capture=environment" style="display:none;" onchange="processQRCode(this)">
      <input id="licensePlateInput" type="file" accept="image/*" capture="camera" style="display:none;">
      
      <script>
// Wählen Sie das HTML-Element aus, das das Bild enthält

const imageElement = document.getElementById('qrCodeImage');
const scanQRCodeButton = document.getElementById('scanQRCodeButton');

// Fügen Sie einen Event-Listener hinzu, um auf Änderungen im Dateiauswahldialog zu reagieren
    </script>
    

</html>
